<h1>Get a Code Tip!</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "GO!", name: nil, class: "button radius" %>
  </p>
<% end %>

<ul>
  <% @tips.each do |tip| %>
    <li>
      <h3>
        <%= link_to tip.try(:highlight).try(:language) ? tip.highlight.language[0].html_safe : tip.language,
          controller: "tips",
          action: "show",
          id: tip._id%>
      </h3>
      <% if tip.try(:highlight).try(:topic) %>
        <% tip.highlight.topic.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>
      <% if tip.try(:highlight).try(:text) %>
        <% tip.highlight.text.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'ADD A NEW CODE TIP!', new_tip_path, class: "button info" %>