<h1>Edit Code Tip</h1>

<%= form_for :tip, url: tip_path, :method => :put do |f| %>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :language, class: "right inline" %>
    </div>
    <div class="small-9 columns"><%= f.text_field :language %></div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :topic, class: "right inline", title: "topic", data: {tooltip: true} %>
    </div>
    <div class="small-9 columns"><%= f.text_field :topic %></div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :text, class: "right inline", title: "tip", data: {tooltip: true} %>
    </div>
    <div class="small-9 columns"><%= f.text_field :text %></div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= button_to "UPDATE", tips_path, method: :put, class: "button radius" %></div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= button_to"DELETE", tip_path, method: :delete, class: "button alert" %></div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns"><%= link_to 'BACK', tips_path, class: "button secondary" %></div>
  </div>
<% end %>