<h1>Add a Code Tip</h1>

<%= form_for :tip, url: tips_path do |f| %>

  <% if not @tip.nil? and @tip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tip.errors.count, "error") %> prohibited
      this tip from being saved:</h2>
    <ul>
    <% @tip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


<div class="row">
  <div class="small-3 columns">
    <%= f.label :language, class: "right inline" %>
  </div>
  <div class="small-9 columns"><%= f.text_field :language %></div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :topic, class: "right inline", title: "topic", data: {tooltip: true} %>
  </div>
  <div class="small-9 columns"><%= f.text_field :topic %></div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :tip, class: "right inline", title: "tip", data: {tooltip: true} %>
  </div>
  <div class="small-9 columns"><%= f.text_field :tip %></div>
</div>
<div class="row">
  <div class="small-9 small-offset-3 columns"><%= submit_tag "SUBMIT", name: nil, class: "button radius" %></div>
</div>
<% end %>

<%= link_to 'BACK', tips_path, class: "button secondary" %>