<p>
  <strong>Language:</strong><br>
  <%= @tip.language %>
</p>

<p>
  <strong>Topic:</strong><br>
  <%= @tip.topic %>
</p>

<p>
  <strong>Code Tip:</strong><br>
  <%= @tip.text %>
</p>

<% via = "yo" %>
<% via_str = '' %>
<%  via_str = "&via=#{via}" if via.length > 0 %>

<h4>
  <small>Share This Code Tip on Twitter, Facebook or Google+</small>
</h4>
<%= social_share_button_tag((@tip.text), url: "http://codetips-app.herokuapp.com/tips/#{@tip.id}", via: "codetips_app") %><br>

<%= link_to 'EDIT', edit_tip_path, class: "button" %><br>
<%= link_to 'BACK', tips_path, class: "button secondary" %>